$color-yellow:#cccc99;
$color-yellow-two:#a1a160;
$color-light-blue: #699ed8;
$color-dark-blue:#3c7ecc;
$color-light-purple:#ba82e2;
$color-dark-purple:#9064af;
$color-green:#b5d94f;
$color-dark-green: #86a62b;
$color-orange:#fea454;
$color-dark-orange:#db7113;
$color-pink:#ea8c86;
$color-hot-pink:#df5349;
$color-teal:#8cabba;
$color-dark-teal:#546e7a;
$color-bg-blue:#264990;

$color-border-blue: #0c2455;
$color-white:#fff;
$color-aqua:#6f858f;
$color-active:#17336b;
$color-tab-bg:#8aa2d5;
$color-tab-active:#244FA5;
$color-table-border:#333;

$color-blue-row:#ecf5ff;

$color-link-blue:#0042bc;

$color-filter-grey:#646464;
$color-filter-bg:#f2f2f2;
$color-filter-border:#aaa;

$select-box:rgba(255,255,255,0.85);
$table-col-red: #de4655;
$table-col-orange:#eb8222;
$table-col-green:#47ba76;
$table-footer-border:#8c0c18;

$color-side-btn-1:#0c4e7f;
$color-side-btn-2:#9a5d2f;
$color-side-btn-3:#f0142a;
