.pad-sm-rt {
    padding-right: 1.2rem !important;
}
.pad-md-lft{
    padding-left: 1.5rem;
}
.active{
    background-color: $color-active;
}
.tab-active{
    background-color: $color-tab-active !important;
}

.table-col--no-wrap{
    white-space: nowrap;
}
.column-three--width{
    min-width: 15rem !important;
}

.column-three--width{
    min-width: 15rem !important;
}
.table-header--width{
    min-width: 16.2rem;
}